@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #000;
  background-color: white;
  line-height: 1.428571429;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}
h3,
.h3 {
  font-size: 32px;
  margin-bottom: 14px;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.center {
    margin: auto;
    width: 96%;
    /*border: 1px solid #73AD21;
    padding: 10px;*/
}

tr, li, #pages, .info {
    font-family: "Lucida Console", Monaco, monospace;
    font-size  : 12px;
    height: 22px;
}

#pages
{
    margin-top: 15px;
}

td {
}

form {
    display: inline-block;
}

.style-1 input[type="text"] {
    padding: 2px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}


.tabs {
    position: relative;
    min-height: 220px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

[type=radio]:checked ~ label {
    background: #efefef ;
    border-bottom: 1px solid black;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

input#toggle-1[type=checkbox] {
    position: absolute;
    /*top: -9999px;*/
    left: -9999px;

}
label#show-decoded-inputs {
    /*-webkit-appearance: push-button;*/
    /*-moz-appearance: button;*/
    display: inline-block;
    /*margin: 60px 0 10px 0;*/
    cursor: pointer;
    background-color: white;
    color: black;
    width: 100%;
}

div#decoded-inputs{
    display: none;
}

/* Toggled State */
input#toggle-1[type=checkbox]:checked ~ div#decoded-inputs {
    display: block;
}

.navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar-header .navbar-brand span{
    font-size: 70%;
    padding-left: 23px;
}

.navbar-header .navbar-brand:focus {
    outline: 0;
}

.navbar-inverse {
  background-color: #2D5768;
  border-color: #f9f9f8;
  border-width: 0;
}
.navbar-inverse .container {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #F0F9FA;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #03a678;
}


th {
	font-size: 12px;
	font-weight: bold;
  white-space: nowrap;
}
#bootstrap-overrides .panel-default {
    border-color: #333;
}

#bootstrap-overrides .panel-default > .panel-heading {
    color: #fff;
    background-color: #333;
    border-color: #333;
    font-size: 16px;
    text-align: center;
}

.form-control {
  border: 1px solid #03a678;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #027454;
}
#explorer {
	margin-top: 60px;
}

#explorer .form-control {
    border-color: #222;
}

#explorer-search {
}
.btn-explorer {
    color: #ffffff;
    background-color: #333;
    border-color: #222;
}

.btn-explorer:hover,
.btn-explorer:focus,
.btn-explorer:active,
.btn-default.active {
    color: #ffffff;
    background-color: #666;
}

.navbar-custom {
    background-color:#333;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}